main {
    width: 80%;
    margin: auto;
}

body {
    background-color: darkcyan;
    margin: 0;
}

section {
    background-color: azure;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
h1{
    margin: 0;
}
#about {
    background-color: blanchedalmond;
}

.info{
    text-align: center;
}

.info ul {
    list-style-type: none;
}

.text-light{
    color: coral;
}

.important{
    background-color: lemonchiffon;
}